<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="{{ url_for('static', filename='/css/main.css') }}"/>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/Fonts/Ailerons-TrialVersion.otf')}}">
	<title>Chatbot?</title>
	
</head>
<body>
	<img src="/static/images/LOGO2.jpeg" width="190px" height="auto" alt="N.P. Creations logo">
	<br>
	<form action="greet" method="post">
		{% for message in get_flashed_messages()%}
			<p> {{message}} </p>
		{% endfor %}
		<br>
		<input type="text" name="name_input">
		<br>
		<input type="submit" value="GREET" id="greet">
	</form>

</body>
</html>